@import url('https://fonts.cdnfonts.com/css/romantic-party');
@import url('https://fonts.cdnfonts.com/css/rangile');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import 'tailwindcss';

@theme {
	--color-primary: #0f1014;
	--color-secondary: #15181f;
	--color-border: #ffffff4d;
	--color-gray: #212227;
	--color-accent: #ffd700;
	--color-gray-text: #ffffff99;
	--color-white: #ffffff;
}

/* src/styles/global.css */
button {
	cursor: pointer;
}

/* TipTap default styles */
.ProseMirror {
	min-height: 150px;
	outline: none;
}

body {
	font-family: 'Inter', sans-serif;
	color: white;
	background-color: #0f1014;
}

.font-romantic {
	font-family: 'Romantic Party', sans-serif;
}

.font-rangile {
	font-family: 'Rangile', sans-serif;
}

.font-inter {
	font-family: 'Inter', sans-serif;
}
.font-dm-sans {
	font-family: 'DM Sans', sans-serif;
}
.font-poppins {
	font-family: 'Poppins', sans-serif;
}

.bg-primary {
	background-color: var(--color-primary);
}
.bg-secondary {
	background-color: var(--color-secondary);
}
.bg-lucky {
	background-color: var(--color-lucky);
}
.bg-unlucky {
	background-color: var(--color-unlucky);
}
.text-textWhite {
	color: var(--color-text);
}
.hover\:bg-highlight:hover {
	background-color: var(--color-highlight);
}
.border-border {
	border-color: var(--color-border);
}

.react-datepicker {
	background-color: #1f2937 !important;
	border: 1px solid #374151 !important;
	box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3) !important;
}

.react-datepicker__header {
	background-color: #111827 !important;
	border-bottom: 1px solid #374151 !important;
}

.react-datepicker__day,
.react-datepicker__day-name {
	color: #d1d5db !important;
}

.react-datepicker__day:hover,
.react-datepicker__day--keyboard-selected {
	background-color: #374151 !important;
	color: #ffffff !important;
}

.react-datepicker__day--selected,
.react-datepicker__day--selected:hover {
	background-color: #3b82f6 !important;
	color: white !important;
}

.react-datepicker {
	width: 100%;
	height: 100%;
	display: flex !important;
	flex-direction: column;
}

.react-datepicker__month-container {
	flex: 1 1 auto;
	display: flex;
	flex-direction: column;
}

.react-datepicker__month {
	flex: 1 1 auto;
	display: grid;
	grid-template-rows: repeat(auto-fill, minmax(30px, 1fr));
}

/* splide */

/* Override Splide default pagination button styles */
.splide .splide__pagination__page {
	width: 8px !important;
	height: 8px !important;
	background-color: var(--color-gray-text) !important;
	opacity: 1 !important;
	border-radius: 9999px !important;
	border: #252525 0.5px solid !important;
	margin: 0 6px !important;
	transition: background-color 0.3s ease !important;
}

.splide .splide__pagination__page.is-active {
	background-color: var(--color-primary) !important;
}

/* user online blink */
@keyframes pulse-smooth {
	0%,
	100% {
		opacity: 0.3;
		transform: scale(1);
	}
	50% {
		opacity: 1;
		transform: scale(1.2);
	}
}

.animate-pulse-smooth {
	animation: pulse-smooth 2.5s ease-in-out infinite;
}

.react-calendar-heatmap text {
	font-size: 8px !important;
	fill: var(--color-gray-text); /* Tailwind gray-500 */
}

.react-calendar-heatmap rect {
	rx: 2;
	ry: 2;
	transition: fill 0.2s ease;
}

.color-empty {
	fill: var(--color-gray) !important; /* Tailwind gray-200 */
}

.color-green1 {
	fill: rgb(34 197 94); /* green-500 */
}
.color-green2 {
	fill: rgb(21 128 61); /* green-700 */
}
.color-green3 {
	fill: rgb(20 83 45); /* green-900 */
}

.color-orange1 {
	fill: rgb(249 115 22); /* orange-500 */
}
.color-orange2 {
	fill: rgb(194 65 12); /* orange-700 */
}
.color-orange3 {
	fill: rgb(124 45 18); /* orange-900 */
}
.color-blue {
	fill: rgb(59 130 246);
}

/* Custom scrollbar */
.custom-scrollbar {
	scrollbar-width: thin; /* For Firefox */
	scrollbar-color: #ffffff99 #15181f; /* thumb and track colors (Firefox) */
}

/* WebKit (Chrome, Edge, Safari) */
.custom-scrollbar::-webkit-scrollbar {
	width: 10px;
}

.custom-scrollbar::-webkit-scrollbar-track {
	background: #15181f; /* gray-800 */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
	background-color: #ffd700; /* gray-400 */
	border-radius: 9999px;
}

@layer utilities {
	.no-scrollbar {
		scrollbar-width: none; /* Firefox */
		-ms-overflow-style: none; /* IE 10+ */
	}

	.no-scrollbar::-webkit-scrollbar {
		display: none; /* Chrome, Safari, Opera */
	}
}
